* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: hsla(0, 0%, 0%, 0.338);
}
.container {
  width: 400px;
  padding: 25px 35px;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*center ma aauxa div */
  border-radius: 10px;
}
.container p {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.container input {
  width: 100%;
  height: 50px;
  border: 1px solid hsla(132, 87%, 24%, 0.984);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0 20px;
  font-size: 17px;
}
.container button {
  width: 100%;
  height: 50px;
  background-color: hsl(238, 47%, 57%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0;
}
.container button:hover {
  background-color: hsl(238, 76%, 68%);
}
.container button:active {
  background-color: hsl(238, 47%, 57%);
}
#imgBox {
  margin: auto;
  width: 200px;
  max-height: 0;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 1s;
}
#imgBox img {
  width: 100%;
  padding: 10px;
}
#imgBox.show {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}
.error {
  animation: shake 0.1s linear 10; /* text box shake garne animation*/
}
@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(2px);
  }
  100% {
    transform: translate(0);
  }
}
