* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #218380;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vh;
  width: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 20px;
  border: none;
  font-size: 50px;
  background-color: white;
  color: black;
}
.reset {
  padding: 5px;
  border-radius: 10px;
  border: none;
}
#message {
  font-size: 25px;
  color: yellow;
}

