* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: var(--primary-color);
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vh;
  width: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 20px;
  border: none;
  font-size: 50px;
  background-color: white;
  color: black;
}
.reset {
  padding: 5px;
  border-radius: 10px;
  border: none;
}
#message {
  font-size: 25px;
  color: yellow;
}
#icon {
  width: 30px;
  cursor: pointer;
  position: fixed;
  right: 90px;
  top: 8px;
}
h1 {
  color: var(--secondary-color);
}
:root {
  --primary-color: rgb(175, 179, 149);
  --secondary-color: black;
}
.dark-theme {
  --primary-color: #000000;
  --secondary-color: white;
}
